<p>Hello <%= @user.name %>,</p>

<p><%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> Signon accounts are suspended after <%= User::SUSPENSION_THRESHOLD_PERIOD.inspect %> of inactivity.</p>

<p>Your <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> Signon <%= account_name %>, for <%= @user.email %>, has now been suspended and you won't be able to access any <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> <%= account_name %> applications, eg Whitehall Publisher or Licensing.</p>

<% if instance_name.present? %>
<p><%= account_name.humanize %> suspensions do not suspend production accounts or remove access to <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> production applications.</p>
<% end %>

<p>If you don't need the account you can ignore this email.</p>

<p>If you do still need the account you will have to contact your line manager.</p>

<p>All the best,</p>

<p>The <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> team</p>
