<p>Hello <%= @resource.name %>,</p>

<p>Your <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> Signon <%= account_name %>, for <%= @resource.email %>, was locked at <%= locked_time %> because the wrong sign on details were entered too many times.</p>

<% if instance_name.present? %>
<p><%= account_name.humanize %> locks do not lock production accounts.</p>
<% end %>

<p>Your account will be unlocked at <%= unlock_time %>. If you need your account unlocked sooner, please contact your line manager.</p>

<p>All the best,</p>

<p>The <%= link_to 'Pension Wise', "https://www.pensionwise.gov.uk" %> team</p>
