<p class="form-group">
  <%= f.label :slug %>
  <%= f.text_field :slug, autofocus: true, class: 'form-control input-md-6' %>
</p>

<p class="form-group">
  <%= f.label :name %>
  <%= f.text_field :name, class: 'form-control input-md-6' %>
</p>

<p class="form-group">
  <%= f.label :content_id %>
  <%= f.text_field :content_id, class: 'form-control input-md-6' %>
</p>

<p class="form-group">
  <%= f.label :abbreviation %>
  <%= f.text_field :abbreviation, class: 'form-control input-md-6' %>
</p>

<p class="form-group">
  <%= f.label :organisation_type %>
  <%= f.text_field :organisation_type, class: 'form-control input-md-6' %>
</p>

<p class="form-group">
  <%= f.label :parent_id, 'Parent Organisation' %>
  <%= f.collection_select :parent_id, Organisation.allowed_parents(@organisation), :id, :name, { include_blank: true }, class: 'form-control input-md-6' %>
</p>
